/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONDO GENERAL */
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1c1a18, #2b1d17); /* café oscuro */
    color: #f5efe6;
    text-align: center;
}

/* MARQUESINA */
.marquesina {
    background: #000;
    color: #f5efe6;
    padding: 12px;
    font-size: 15px;
    letter-spacing: 1px;
}

/* CONTENEDOR GENERAL */
.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* TARJETAS */
.card {
    background: #f5efe6; /* beige */
    color: #2b1d17;
    padding: 25px;
    margin: 25px 0;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* TÍTULO PRINCIPAL */
#titulo {
    background: #2b1d17;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* SUBTÍTULOS */
h2 {
    margin-bottom: 15px;
    color: #5a2a1f;
}

/* TEXTO */
p {
    margin: 5px 0;
}

/* CARRUSEL */
.swiper {
    width: 100%;
    max-width: 650px;
    height: 260px;
    margin: auto;
}

/* IMÁGENES */
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* FLECHAS */
.swiper-button-next,
.swiper-button-prev {
    color: #ffffff; /* rojo vino */
}

/* PAGINACIÓN */
.swiper-pagination-bullet {
    background: #8b0000;
}

/* BOTONES */
.btn {
    margin: 10px;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: #8b0000;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #5a0000;
    transform: scale(1.05);
}